@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right top, #7a0045, #852c69, #894b8c, #8a68ac, #8884c8, #7e98dc, #73acec, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
